@import '../../variables.scss';

.manager-greeting-container {
  width: 100%;
  padding: $spacing-05;

  .manager-dashboard-image {
    width: 550px;
  }

  h3 {
    font-weight: normal;
    color: $grey-03;
  }
}
