@import '../../variables.scss';

.main-container {
  width: 100%;

  .custom-tooltip {
    background-color: $grey-00;
    border: 1px solid $grey-02;
    padding: $spacing-01;
    font-size: 0.8rem;

    .range {
      font-weight: bold;
    }
  }

  .dropdown-range {
    text-align: center;
    width: 150px;
  }

  .chart-container {
    width: 100%;
    height: 50vh;
  }
}
