@import '../../variables.scss';
.patientHome-greeting-container-form {
  padding: $spacing-05;

  p {
    margin: $spacing-04 0;
  }
}
.patientHome-greeting-container {
  padding: $spacing-05;

  p {
    margin: $spacing-04 $spacing-07;
  }
}
.appointment-container {
  padding: $spacing-05;
}
