@import '../../variables.scss';

.selfAssessment-container {
  padding: $spacing-05;
  text-align: left;

  .selfAssessment-question-container {
    margin-top: $spacing-03;
    padding: $spacing-03 $spacing-05;

    .label-question {
      font-size: 0.95rem;
      font-weight: bold;
      color: $purple-03;
    }

    .question {
      color: black;
    }

    label {
      display: block;
    }

    .question-answer-container {
      span,
      svg {
        color: $grey-04;
        font-size: 0.9rem;
      }
    }
  }
}
