<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>Login.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>User</servlet-name>
		<servlet-class>User.UserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CounsellorDashboard</servlet-name>
		<servlet-class>Dashboard.CounsellorDashboard</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoctorDashboard</servlet-name>
		<servlet-class>Dashboard.DoctorDashboard</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Appointment</servlet-name>
		<servlet-class>Appointment.AppointmentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AssessmentForm</servlet-name>
		<servlet-class>User.AssessmentFormServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>/users</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CounsellorDashboard</servlet-name>
		<url-pattern>/listOfPatient/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CounsellorDashboard</servlet-name>
		<url-pattern>/listOfDoctors/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CounsellorDashboard</servlet-name>
		<url-pattern>/getSelfAssesmentResult/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CounsellorDashboard</servlet-name>
		<url-pattern>/remove/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CounsellorDashboard</servlet-name>
		<url-pattern>/scheduleAppointment/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CounsellorDashboard</servlet-name>
		<url-pattern>/assignToDoctor/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Appointment</servlet-name>
		<url-pattern>/myAppointments/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoctorDashboard</servlet-name>
		<url-pattern>/doctor/listOfPatient/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AssessmentForm</servlet-name>
		<url-pattern>/patient/assessmentForm</url-pattern>
	</servlet-mapping>
	<resource-ref>
		<description>MySQL Connection</description>
		<res-ref-name>jdbc/soen6841</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
        <param-name>cors.allowed.origins</param-name>
        <param-value>*</param-value>
    </init-param>
    <init-param>
        <param-name>cors.allowed.methods</param-name>
        <param-value>GET,POST,PUT,DELETE,HEAD,OPTIONS</param-value>
    </init-param>
    <init-param>
        <param-name>cors.allowed.headers</param-name>
        <param-value>Content-Type,X-Requested-With,Accept,Authorization,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
    </init-param>
    <init-param>
        <param-name>cors.exposed.headers</param-name>
        <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
    </init-param>
</filter>
<filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern> /* </url-pattern>
</filter-mapping>
</web-app>