@import '../../variables.scss';

.patientAppointment-greeting-container {
  padding: $spacing-05;

  p {
    margin: $spacing-04 $spacing-08;
  }
}
.appointment-container {
  padding: $spacing-05;
}

.patient-appointment-table-header {
  font-weight: 600;
}
