@import '../../variables.scss';

.menu-bar-container {
  display: flex;
  justify-content: space-between;

  .home_logo {
    width: 50px;
    margin-bottom: $spacing-02;
  }

  a:not(:last-child) {
    margin-right: $spacing-04;
  }
}
